{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<v:page.header.meta name="viewport" content="width=device-width,initial-scale=1" />
<v:page.header.meta content="IE=edge" http-equiv="X-UA-Compatible" />
<f:comment>
	<v:asset.script path="{f:uri.resource(path:'Assets/Js/Vendor/modernizr-custom.min.js')}" allowMoveToFooter="0" name="modernizr" namedChunks="1" />
</f:comment>
<v:asset.style path="{f:uri.resource(path:'Assets/Css/app.css')}" external="0" name="principal" namedChunks="1" />
<v:asset.script path="{f:uri.resource(path:'Assets/Js/Vendor/foundation.min.js')}"  name="foundation" namedChunks="1" />
<v:asset.script path="{f:uri.resource(path:'Assets/Js/app.min.js')}" name="app" namedChunks="1" />