{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<ul class="tabs" data-tabs id="tabs-{data.uid}">
  	<f:for each="{data.tx_gridelements_view_children}" as="tab">
			<v:variable.set name="isactive">{v:format.substring(content:'{tab.pi_flexform}',start:341, length:1)}</v:variable.set>
		<li class="tabs-title {f:if(condition:'{isactive}==1', then: 'is-active')}">
			<a href="#panel{tab.uid}">{tab.header}</a>
			
		</li>	
	</f:for>
</ul>
<div class="tabs-content" data-tabs-content="tabs-{data.uid}">
	{data.tx_gridelements_view_column_0-> f:format.raw()}
</div>